.list-page{
  color: #fff;
  margin: 20px auto;
  .btn-primary{
    color: #fff;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 4px;
    background: #194da0;
    text-decoration: none;
  }
}