.home-page{
  font-size: 0.16rem;
  .nav-box{
    width: 7.5rem;
    padding: 0.24rem 0;
    background:linear-gradient(#55fcac,transparent);
    position: fixed;
    top: 0;
    z-index: 29;
    .logo{
      width: 1.88rem;
      padding: 0.06rem 0.2rem 0;
      float: left;
    }
    .nav-search{
      width: 4.16rem;
      line-height: .6rem;
      border-radius: .3rem;
      font-size: .24rem;
      padding-left: .24rem;
      background-color: #f3f3f3;
      color: #666;
      float: left;
      position: relative;
      &::after{
        content: "";
        display: block;
        clear: both;
        width: .34rem;
        height: .34rem;
        background: url('https://css.mafengwo.net/mobile/images/header/btn_search2.png');
        background-size: cover;
        position: absolute;
        top: 0.12rem;right: .24rem;
      }
    }
    .login-button{
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      font-size: 0.28rem;
      padding: .14rem .12rem;
      color: #fff;
    }
  }
  .swiper-barner{
    height: 3.66rem;
  }
  .hot{
    width: 100%;
  }
}
